@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap");

$cavaet: "Caveat Brush", monospace, "cursive", sans-serif;
$norm: sans-serif, monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul {
    list-style-type: none;
  }
}

body {
  background-color: rgba(255, 228, 196, 0.1);
  font-size: 1.25rem;
  max-height: 100vh;

  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .logo {
      font-weight: 500;
      font-family: $cavaet;
      font-size: 2rem;

      span {
        color: cadetblue;
      }
    }

    .logo-text {
      font-family: $cavaet;
    }
  }

  .dock {
    width: 100%;

    .container {
      width: 80%;
      margin: 0 auto;
      min-height: 600px;

      .grp-tab {
        width: 480px;
        box-shadow: 0 1px 5px 0 #000;
        margin: 0 auto;
        border-radius: 3px;
      }

      .lead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        height: 60px;
        padding: 0 0.5rem;
        border: 1px solid rgb(27, 25, 25);

        h1 {
          font-weight: 400;
          font-size: 1.25rem;
          font-family: $norm;
        }
      }

      .main-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;

        .app {
          width: 100%;
          border: 1px solid rgb(27, 25, 25);
          background-color: #fff;
          margin-bottom: -16px;

          .bind-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            height: 60px;
            padding: 0 0.5rem;
            border: 1px solid rgb(27, 25, 25);

            input[type="text"] {
              border: none;

              &:focus {
                outline: none;
              }

              &::placeholder {
                font-style: italic;
              }
            }

            .task {
              display: block;
              width: 70%;
              height: 50px;
            }
          }
        }

        .task-list {
          display: block;
          width: 100%;

          li {
            display: flex;
            width: 100%;
            height: 60px;
            align-items: center;
            gap: 1rem;
            border: 1px solid rgb(27, 25, 25);
            padding: 0 0.5rem;

            .flex-grp {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
          }
        }

        button {
          width: 100%;
          height: 60px;
        }

        button[type="button"] {
          margin-top: -16px;
        }
      }
    }
  }
}
